<div class="wrap">
    <p>Title:
        <i>{{quote.title}}</i></p>
    <p>Quote: <i>{{quote.quote}}</i></p>
    <p>Author: <i>{{quote.author}}</i></p>
    <p>submitted by: <i>{{quote.submitted}}</i></p>
    <p> countdown: {{quote.dateUpload|countdown}}</p>
    <p>{{quote.upVote}}</p>
    <button (click)='quoteUpVote()' class="btn btn-outline-secondary">upvote</button>
    <p>{{quote.downVote}}</p>
    <button (click)='quoteDownVote()' class="btn btn-outline-secondary ">downvote</button>
    <br> <br>
    <button (click)='quoteDelete(true)' class="btn btn-outline-danger ">Delete
    Quote</button>
</div>
