.container {
    background-color: bisque;
    padding: 10px;
    border-radius: 18px;
}

.space {
    background-color: aqua;
    padding: 10px;
    border-radius: 18px;
}

.end {
    background-color: bisque;
    padding: 1px;
}
